:root{
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #FF3D31;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #3EBD5B;
  --bs-black: #272B2F;
  --bs-white: #fff;
  --bs-gray: #A0A0A0;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #5D87FF;
  --bs-secondary: #A0A0A0;
  --bs-success: #00ABB1;
  --bs-info: #e5f6fd;
  --bs-warning: #ffc107;
  --bs-danger: #FF3D31;
  --bs-light: #F6F9FC;
  --bs-dark: #272B2F;
  --bs-primary-rgb: 93, 135, 255;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 0, 171, 177;
  --bs-info-rgb: 229, 246, 253;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 255, 61, 49;
  --bs-light-rgb:246, 249, 252;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #3464e7;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #f9fbff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif:"Noto Sans KR", "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 500;
  --bs-body-line-height: 1.5;
  --bs-body-color: #545653; /* 기본색상 */
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: var(--bs-dark);
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: #272B2F;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #d8e1e9;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.25rem .8rem rgba(0, 0, 0, 0.1);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
  --bs-modal-padding:2rem 1.25rem;
}
.text-light-gray{
  color:var(--bs-gray)
}
.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-gray) !important;
}
/* primary 컬러 변경 */
.text-primary {
  --bs-text-opacity: 1;
  color:#5D87FF !important;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5D87FF;
  --bs-btn-border-color: #5D87FF;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3f6ff2;
  --bs-btn-hover-border-color: #3f6ff2;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3f6ff2;
  --bs-btn-active-border-color: #3f6ff2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #aebbdf;
  --bs-btn-disabled-border-color: #aebbdf;
}
.btn-outline-primary {
  --bs-btn-color: #5D87FF;
  --bs-btn-border-color: #5D87FF;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3f6ff2;
  --bs-btn-hover-border-color: #3f6ff2;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000787cd6efd;
  --bs-btn-active-border-color: #3f6ff2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #aebbdf;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #aebbdf;
  --bs-gradient: none;
  --bs-card-color:#fff;
}
.btn-secondary{
  --bs-btn-bg: #A0A0A0;
  --bs-btn-border-color: #A0A0A0;
}
.btn-success{
  --bs-btn-color: #fff;
  --bs-btn-bg: #00ABB1;
  --bs-btn-border-color: #00ABB1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #018a8f;
  --bs-btn-hover-border-color: #018a8f;
  --bs-btn-focus-shadow-rgb: 14, 138, 140;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #037b7f;
  --bs-btn-active-border-color: #037b7f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #aed9df;
  --bs-btn-disabled-border-color: #aed9df;
}
.text-warning{
  color:var(--bs-orange) !important;
}
.bg-warning {
  --bs-bg-opacity: 1;
  background-color:var(--bs-orange) !important;
}
.btn-warning{
  background-color:var(--bs-orange) !important;
  border:var(--bs-orange) !important;
  color:white;
}
.btn-sort{
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: auto;
  padding: 0 5px;
  border: none;
  background: none;
  cursor: pointer;
  & label{
    margin-right:10px;
    font-weight: bold;
    cursor: pointer;
  }
  & span{
    font-size: 7px;
    position: absolute;
    right: 10px;
    color:var(--bs-gray-400);
  }
  & span:nth-child(2){
    top:5px;
  }
  & span:nth-child(3){
    bottom:5px;
  }
}
body{
  background-color:#F6F9FC ;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d45663;
  --bs-btn-border-color: #d45663;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bb2d3b;
  --bs-btn-hover-border-color: #b02a37;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b02a37;
  --bs-btn-active-border-color: #a52834;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

/* 폰트 */
.fs-1 {
  font-size: calc(1.3rem + 1.5vw) !important;
}

.fs-2 {
  font-size: calc(1.3rem + 0.9vw) !important;
}

.fs-3 {
  font-size: calc(1.2rem + 0.6vw) !important;
}

.fs-4 {
  font-size: 1.25rem !important;
  /* font-size:20px */
}

.fs-5 {
  font-size: 1.063rem !important;
}

.fs-6 {
  font-size: .9rem !important;
}
.fs-7{
  font-size: .75rem !important;
}
.w-10 {
  width: 10% !important;
}
.w-30{
  width: 30% !important;
}
.w-40{
  width: 40% !important;
}
.w-1000{
  width: 1000px !important;
}
/* layout 관련 */
#root > .container-xxl{
  min-height: calc(100vh - 206px);
}
.card{
  border:0;
  box-shadow: var(--bs-box-shadow);
}
.container-xxl .card .card-body{
  --bs-card-spacer-y:2rem;
}

.card-header {
  padding: 15px 20px;
  margin-bottom: 0;
  color: var(--bs-dark);
  background-color: transparent;
  border-bottom: 1px solid var(--bs-card-border-color);

  & h4{
    display: flex;
    align-items: center;
    margin-bottom:0;
    font-weight: 500;
  }
}
& .categoty-select-list{
  margin-left: 20px;
  width: 25%;
  @media (max-width: 768px) {
    width: 50%;
  }
}
/* form */
.form-select{
  padding:0.25rem 2rem 0.25rem 0.5rem;
}
.form-control{
  padding:0.25rem 0.5rem;
}
.info-content-item{
  background-color: var(--bs-info);
  padding:1.5rem;
  margin-bottom:1.5rem;
  border-radius: var(--bs-border-radius);
}
/* btn */
input.form-control, select.form-select, label, textarea.form-control{
  font-size: .9rem;
}
.form-check-input[type=radio]{
  cursor: pointer;
}
.pointer{
  cursor: pointer;
}
input:focus-within{
  outline: none !important;
}
input:focus-visible {
  outline: none !important;
}
.btn{
  line-height: 1.325;
  padding: 0.25rem .75rem 0.35rem;
  font-size: 1rem;
}
.btn-sm, .btn-group-sm > .btn {
  padding:0.25rem 0.5rem;
  font-size: 0.875rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}
.btn-md, .btn-group-md > .btn {
  padding: 0.35rem 1.1rem 0.4rem;
  font-size: 1.1rem;
  --bs-btn-border-radius: var(--bs-border-radius);
}
.btn-lg, .btn-group-lg > .btn {
  padding: 0.4rem 1.75rem 0.5rem;
  font-size: 1.25rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}

& .btn-sky{
  &{
    background-color:#49bfff76 ;
    color: #2588bd;
    border:1px solid #49bfff76;
  }
  &:hover{
    background-color:#49BEFF ;
    color: #fff;
    border:1px solid #49BEFF;
  }
}
/* table */
.table{
  font-size: 0.9rem;
  border-color: #e6eaee;
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.02);
  & td.v-align-top{
    vertical-align: top;
  }
  & a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  thead tr.sub-th > th{
    background-color: #f5f9fd;
  }
  .td-link{
    width:30%;
    & a{
      max-width:360px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
}
.table-primary {
  --bs-table-color: #272B2F;
  --bs-table-bg: #e6f1ff;
  --bs-table-border-color: #EDF3FA;
  --bs-table-striped-bg: #dce9f8;
  --bs-table-striped-color: #272B2F;
  --bs-table-active-bg: #dce9f8;
  --bs-table-active-color: #272B2F;
  --bs-table-hover-bg: #bcd1e9;
  --bs-table-hover-color: #272B2F;
  color: var(--bs-table-color);
  border-color: #EDF3FA;
}
.table-light {
  --bs-table-color: var(--bs-dark);
  --bs-table-bg: #f8f9fa;
  --bs-table-border-color: #c6c7c8;
  --bs-table-striped-bg: #ecedee;
  --bs-table-striped-color: var(--bs-dark);
  --bs-table-active-bg: #dfe0e1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5e6e7;
  --bs-table-hover-color: var(--bs-dark);
  color: var(--bs-table-color);
  border-color: #e1e1e1;
}
.table > :not(caption) > * > *{
  vertical-align: middle;
}
.table th{
  text-align: center;
  white-space: nowrap;
}

.table tbody th{
  background-color: var(--bs-primary-bg-subtle);
  font-weight:500;  
  text-align: left;
}
.table-bordered > :not(caption) > * {
  border-width: var(--bs-border-width) 0;
} 
.table-full{
  min-width: 1240px;
}
/* @media (max-width:576px) {
  .table-full{
    min-width:660px;
  }
} */

/* 네비게이션 시작 desktop-nav */
.navbar{
  background-color: #2A3547;
  padding:0;
  & .dropdown a{
    text-decoration: none;
  }
  .navbar-nav .dropdown > a{
    color:var(--bs-gray-400)
  }
  .dropdown-menu li > a{
    color:var(--bs-body-color);    
  }
}
.dropdown-item{
  font-weight: 500;
}
.dropdown-item.active, .dropdown-item:active{
  background-color:transparent;
}
.navbar-brand{
  padding: 5px 18px;
  border-radius: 35px;
}
.navbar-brand > img{
  max-height: 30px;
}
ul.main-menu{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left:0;
  padding-left:0;
  & li{
    width: 140px;
    margin-right: 20px;
    text-align: center; /* 텍스트 중앙 정렬 */
  }
  & li:nth-child(5) {
    width: 90px;         /* 글자수가 적으므로 너비를 좁게 설정 */
  }
  & li:last-child{
    margin-right: 0;
    margin-left: 20px;
    width: auto;
  }
  & li > *{
    padding: 6px 10px;
  }
  & li > strong{
    background-color: white;
    border-radius: 30px;
    color:var(--bs-dark);
    position: relative;
    &::after{
      content: '';
      bottom: 15px;
      left: 20px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: #ffffff;
      border-bottom: 0;
      border-left: 0;
      margin-left: -18px;
      transform: rotate(15deg);
      margin-bottom: -16px;
      position: absolute;
      box-shadow: var(--bs-box-shadow);
    }
  }
}
.userinfo {
  font-size: 14px;
  font-weight: 500;
}
& .dropdown-menu > a{
  text-decoration: none;
}
.has-megamenu {
  & .dropdown-toggle::after{
    position: absolute;
    right: 0;
    top: 50%;
    display: none;
  }
  & > a{
    color: var(--bs-gray-400);
    text-decoration: none;
    &:hover{
      color:var(--bs-light);
    }
  }

  & .megamenu{
    border-radius: 0;
    box-shadow: var(--bs-box-shadow);
    border-bottom:2px solid #2A3547;
    padding: 20px 0;
    & a{
      color: var(--bs-body-color);
      text-decoration: none;
      display: block; /* 클릭 영역 확보 */
      &:hover{
        color:var(--bs-primary);
      }
    }
    & > .row{
      padding-left:170px;
      margin: 0; /* 불필요한 마진 제거 */

      & > .col-auto {
        padding: 0;
        width: 140px;       /* 상단 메뉴 li와 동일한 너비 */
        margin-right: 20px;  /* 상단 메뉴 li와 동일한 간격 */
        text-align: center;  /* 하위 메뉴 텍스트도 중앙 정렬 */
      }

      /* 5번째 하위 메뉴 ('충전' 하위) 전용 스타일 */
      & > .col-auto:nth-child(5) {
        width: 90px;        /* 상단 '충전' 메뉴와 동일하게 너비 축소 */
      }

      /* 마지막 컬럼 여백 제거 */
      & > .col-auto:last-child {
        margin-right: 0;
      }

      & strong{
        font-weight: 500;
      }
    }
    & > .megamenu-xxl{
      max-width: 1320px;
      margin: 0 auto;
    }
    & .col-megamenu > ul{
      padding-left: 0; /* ul 기본 패딩 제거 */
      & > li{
        font-size: 15px;
        padding-bottom:20px;
        list-style: none; /* 점 제거 */
      }
    }
  }
}
@media (min-width:1342px) and (max-width:1399px) {
  .has-megamenu{
    & .megamenu{
      & > .row{
        margin:0;
      }
    }
  }
}
@media (min-width:1400px) {
  .has-megamenu{
    & .megamenu{
      & > .row{
        margin:0 auto;
      }
    }
  }
}
/***************************/
.has-megamenu .megamenu {
  display: none;
}
.has-megamenu:hover .megamenu,
.has-megamenu .megamenu:hover {
  display: block;
}
/******************************/
.mobile-nav{
  display: none;
}
.dropdown-menu.dropdown-menu-end.show{
  border:none;
  box-shadow: var(--bs-box-shadow);
  font-size: 0.938rem;
  & .dropdown-item:hover, & .dropdown-item:focus {
    color: var(--bs-primary);
    background-color: transparent;
    cursor: pointer;
  }
}
@media all and (min-width: 992px) {
  .navbar .has-megamenu{
    position:static!important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;}
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      top:60px;
  }
  .dropdown-menu.dropdown-menu-end.show{
    top:40px;
  }
}
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar{
    padding:10px 0;
  }
  .navbar-toggler{
    padding:5px 10px;
  }
  .navbar-toggler-icon{
    width: 1rem; height: 1rem;
  }
  .desktop-nav{
    display: none;
  }
  .mobile-nav{
    display: block;
    & .dropdown-menu a{
      padding-left:10px;
      &:hover{
        color:var(--bs-primary) !important;
        background-color: transparent;
      }
    }
  }

}
/* ============ mobile view .end// ============ */

h5{
  font-size: 1.063rem;
}
h2.fs-4{
  padding:30px 0 15px;
  font-weight: 600;
}
.swiper-slide{
  font-size: 14px;
}
.tooltip-area{
  display: inline-flex;
  align-items:center;
  cursor: pointer;
  margin-bottom:.5rem;
}
.h-fix{
  height: 18px;
}

footer{
  font-size: 13px;
  font-weight: 400;
  & .pb-2 > a{
    font-size: 14px;
    font-weight: 500;
    color:var(--bs-dark);
    text-decoration: none;
    padding:0 5px;
    &:first-child{
      padding-left:0;
    };
    &:hover{
      text-decoration: underline;
    }
  }
}

/* 모달창 */

.react-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  & > .modal-header{
    padding:20px;
    justify-content:space-between;
    align-items: center;
    & > h5.fs-4{
      margin-bottom:0;
    }
  }
  & > .modal-body{
    border-top:1px solid #eee;
    padding:30px 20px;
    & .bt-primary{
      border-top:.5rem solid var(--bs-primary) !important;
    }
    & .img-preload{
      max-width: 200px;
      max-height: 400px !important;
      border:1px solid #eee;
    }
  }
  & > .modal-footer{
    padding:20px;
    background-color: #fbfbfb;
    border-radius: 0 0 15px 15px;
  }
}
.react-modal:focus {
  outline: 0px;
}
.react-full-modal:focus {
  outline: 0px;
}
.react-full-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding:0;
  width: 90%;
  max-width: 95%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  & > .modal-header{
    padding:20px;
    justify-content:space-between;
    align-items: center;
    & > h5.fs-4{
      margin-bottom:0;
    }
  }
  & > .modal-header{
    display: flex;    
    justify-content:space-between;
  }
  & > .modal-body{
    border-top:1px solid #eee;
    padding:30px 20px;
    & .resend{
      & label{
        white-space: nowrap;
        min-width: 120px;
        display: inline-block;
      }
      & .cate{
        min-width: 290px;
      }
      & .form-control, & .form-select{
        display: inline-block;
        width: auto;
      }
      & .people-number{
        max-width: 100px;
        text-align: right;
        padding-inline: 5px;
        border: 0;
        background: var(--bs-light);
      }
    }
  }
  & > .modal-footer{
    padding:20px;
    background-color: #fbfbfb;
    border-radius: 0 0 15px 15px;
  }
}

@media (max-width:576px) {
  .resend .d-flex.align-items-center{
    align-items: start !important;
  }
  
}
.modal-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-check{
  cursor:pointer;
}
.form-check-label{
  cursor:pointer;
}
.white-space-nowrap{white-space:nowrap}
.ellipsis-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

@media (min-width: 576px){
  .border-sm-end{
      border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }

}

@media (min-width: 992px){

  .w-lg-auto{
    width:auto !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

.no-resize {
  resize: none;
}

/* 3. 포인트 영역 스타일 추가 */
.point-info-box {
  display: flex;
  flex-direction: column; /* 위아래 두 줄로 배치 */
  align-items: flex-end;  /* 우측 정렬 */
  justify-content: center;
  line-height: 1.2;       /* 줄 간격 좁게 */
  color: #fff;
}

.point-label {
  font-size: 0.8rem;      /* '보유 포인트' 글자 크기 */
  margin-bottom: 2px;
  opacity: 0.9;
}

.point-value {
  font-size: 1rem;        /* 숫자 크기 강조 */
  font-weight: bold;
  white-space: nowrap;    /* 숫자는 줄바꿈 금지 */
}

